&params
dt=0.01,
time_limit=TIME,
time_write=1.0,
pade=.false.,
matsu=MATSU,
temp=TEMP,
gamma=GAMMA,
lambda=0.01,
rho0(1,:) = (1.0,0),(0,0),
rho0(2,:) = (0,0),(0,0),
HS(1,:) = (0.5,0),(0,0),
HS(2,:) = (0,0),(-0.5,0),
VI(1,:) = (0,0),(1.,0),
VI(2,:) = (1.,0),(0,0)/
